footer {
    background-color: rgba(115, 3, 76, 1);
    color: rgba(242, 216, 206, 1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    height: 100px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icons a {
    color: rgba(242, 216, 206, 1);
}

.icon {
    cursor: pointer;
    font-size: 20px;
}

.icon:hover {
    /* font-size: 30px; */
}

.footer p {
    font-size: 12px;
}

/* DESKTOP VERSION */
/* @media (min-width: 1200px) {
    .footer {
        background-color: rgba(115, 3, 76, 1);
        color: rgba(242, 216, 206, 1);
        padding: 20px;
        margin-top: auto;
        /* display: flex;
        justify-content: center; */
/* }

    .icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .icons a {
        color: rgba(242, 216, 206, 1);
    }

    .icon {
        padding-right: 1rem;
        cursor: pointer;
        font-size: 24px;
    }

    .icon:hover {
        font-size: 30px;
    }

    .footer p {
        font-size: small;
        width: 80%;
        margin-left: 7rem;
    } */
/* }  */