.event-card {
  width: 400px;
  height: auto;
  margin: auto;
  margin-bottom: 2rem;
  background: var(--light-color);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  text-align: center;
  transition: 0.2s ease-in-out;
}

.event-card:hover {
  transform: scale(1.01);
}

.event-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.event-card h3,
.event-card p {
  margin: 1rem;
  font-weight: 400;
}

span.date {
  font-weight: 300;
}

@media only screen and (max-width: 767px) {
  .event-card {
    padding: 0.5em;
  }
  .event-card img {
    height: 150px;
  }
}
